<div class="container-fluid">
  <div class="row">
    <div class="box col-md-12">
      <div class="row">
        <!--======== end 网站头图 =========-->
        <div class="box-inner col-md-6 col-md-offset-3">
          <h1 class="title">还记得儿时的梦吗？</h1>
          <p class="slogan">小时候的梦，在这里实现
            <br></br>
            <br>哆啦A梦的百宝箱 - 订制专属的哆啦A梦</br>
          </p>
          <p class="lead">
            <a class="btn btn-primary-welcome" href="products" role="button">开始订制</a>
          </a>
        </p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="section1">
        <div class="col-md-6">
          <div class="sectbg">
            <div class="lfimg">
              <%= image_tag "recommend.jpg" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rttext">
            <br>
            <br>
            <h2>大雄说</h2>
            <br>
            <p>认识哆啦A梦之前，我总是考试不及格，总是被胖虎揍，干什么都不成功。<br><br><br/>可是自从哆啦A梦来到我的身边，生活发生了翻天覆地的变化。<br/>我再也不是那个被人瞧不起挨人欺负的倒霉鬼了。<br><br><br/>现在，我把哆啦A梦带到大家的身边了哦！</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--======== 商品分类 =========-->

  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="text-center">
        <h2 class="section-title">商品分类</h2>
      </div>
      <div class="col-md-4  category-list">
        <a class="category_1" href="#">
          <div class="product-box">
            <%= image_tag '2001.jpg', class: "img-responsive" %>
          </div>
          <div>
            <h3>工作</h3>
            <p>Work</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 category-list">
        <a class="category_2" href="#">
          <div class="expert-box">
            <%= image_tag '2002.jpg', class: "img-responsive" %>
          </div>
          <div>
            <h3>生活</h3>
            <p>Life</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 category-list">
        <a class="category_3" href="#">
          <div class="expert-box">
            <%= image_tag '2003.jpg', class: "img-responsive" %>
          </div>
          <div>
            <h3>学习</h3>
            <p>Learn</p>
          </div>
        </a>
      </div>
    </div>
    <br/>

    <div class="row">
      <!--======== end 商品分类 =========-->

      <div class="product-point">
        <%= image_tag 'product-point.jpg', class: "img-responsive" %>
      </div>
      <!--======== 热门商品 =========-->
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="section-title">热门商品</h2>
        <div class="short-line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="product-box">
          <%= image_tag '01.jpg', class: "img-responsive" %>
          <h3>配偶测试章</h3>
          <p>这是一种专门用来测试将来两个人结婚之后，生活得是否和谐的徽章。</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="product-box">
          <%= image_tag '02.jpg', class: "img-responsive" %>
          <h3>翻译魔芋</h3>
          <p>效用是食用后，可与不同语言者对话无碍，亦可解译文字，甚至可以和动物交谈。</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="product-box">
          <%= image_tag '03.jpg', class: "img-responsive" %>
          <h3>健忘棒</h3>
          <p>这是一种使人健忘的机器。能够用健忘棒上的记时装置指定你想忘记的事情发生的时间。</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="product-box">
          <%= image_tag '04.jpg', class: "img-responsive" %>
          <h3>背书面包</h3>
          <p>只要把需要背诵的东西写在这种面包上吃下去，就能牢牢地记住。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!--======== end 热门商品 =========-->
